@import '../../styles/app';

.widget-auth {
    background-color: #fff !important;
}

.auth-page {
    background-color: #4d013d;
}

.auth-logo {
    height: 100px;
    width: 100px;
    margin-right: 25%;
    // display: block;
    // margin: 0 auto;
}

.image-height {
    height: 90px;
}