@import '../../../../styles/app';

.map {
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  height: 400px;

  @include media-breakpoint-down(sm) {
    height: 300px;
  }
}

.stats {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 5% 10%;
}

.barchart-height {
    height: 180px;
}

.utilizationchart {
  height: 180px;
}

.pie-height {
  height: 50px;
}

.genderchart {
  height: 180px;
}

.coverchart{
  height: 420px;
}

.regionschart{
  height: 350px;
}
